""" Map leader to space ---------------------
let mapleader=" "

""" Plugins  --------------------------------
set surround
set multiple-cursors
set commentary
set argtextobj
set easymotion
set textobj-entire
set ReplaceWithRegister
set NERDTree

""" Plugin settings -------------------------
let g:argtextobj_pairs="[:],(:),<:>"

""" Common settings -------------------------
set showmode
set so=5
set incsearch
set nu
set relativenumber

""" Idea specific settings ------------------
set ideajoin
set ideastatusicon=gray
set idearefactormode=keep

""" Mappings --------------------------------
map <leader>f <Plug>(easymotion-s)
map <leader>e <Plug>(easymotion-f)

map <leader>d <Action>(Debug)
map <leader>r <Action>(RenameElement)
map <leader>c <Action>(Stop)
map <leader>z <Action>(ToggleDistractionFreeMode)

map <leader>s <Action>(SelectInProjectView)
map <leader>a <Action>(Annotate)
map <leader>h <Action>(Vcs.ShowTabbedFileHistory)
map <S-Space> <Action>(GotoNextError)

map <leader>b <Action>(ToggleLineBreakpoint)
map <leader>o <Action>(FileStructurePopup)
nnoremap == :action ReformatCode<CR>
vnoremap == :action ReformatCode<CR>

map <leader>\| <Action>(SplitVertically)
map <leader>- <Action>(SplitHorizontally)
map <leader>qq <Action>(CloseEditor)
map <leader>qa <Action>(CloseAllEditors)
map <leader>qo <Action>(CloseAllEditorsButActive)

map <leader>, <Action>(Switcher)
map <leader>/ <Action>(FindInPath)
map <leader><leader> <Action>(GotoFile)
map <leader>fr <Action>(RecentFiles)

map <leader>gI <Action>(GotoImplementation)
map <leader>gd <Action>(GotoDeclaration)
map <leader>gS <Action>(GotoSuperMethod)
map <leader>gr <Action>(FindUsages)

map <leader>cd <Action>(EditorDuplicateLines)
" options and mappings that are supported by both Vim and IdeaVim

if has('ide')
  " mappings and options that exist only in IdeaVim

  if &ide =~? 'intellij idea'
    if &ide =~? 'community'
      " some mappings and options for IntelliJ IDEA Community Edition
    elseif &ide =~? 'ultimate'
      " some mappings and options for IntelliJ IDEA Ultimate Edition
    endif
  elseif &ide =~? 'pycharm'
    " PyCharm specific mappings and options
  endif
else
endif
